<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081530087972-marmf379qjh0uf7pe0phr2r564hu12as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081530087972-marmf379qjh0uf7pe0phr2r564hu12as</string>
	<key>API_KEY</key>
	<string>AIzaSyDpYQgVpZF6M8v2uycqNcoJfb34-d4IenE</string>
	<key>GCM_SENDER_ID</key>
	<string>1081530087972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seongjunIm.www.Mystagram</string>
	<key>PROJECT_ID</key>
	<string>mystagram-f0ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>mystagram-f0ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081530087972:ios:8ecbd26efb25b12d1ab6b1</string>
</dict>
</plist>